<fieldset>
  <div class="nested-fields">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
   <h3>Ingredients</h3>
    <%= f.fields_for :component_ingredients do |component_ingredient| %>
      <%= render 'component_ingredient_fields', f: component_ingredient %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add component ingredient', f, :component_ingredients %>
    </div>
  </div>
</fieldset>